
{% extends "webapp/header.html" %}
{%load static%}
{% block content %}
	<div id="button">
		<form method="post" enctype="multipart/form-data"  content="text/html" charset="UTF-8">
			{% csrf_token %}
	  		<input type="file" name="source">
	  		<button class="button"type="submit">Upload</button>
		</form>
</div>
	  {#<img src="{{ image_path }}" alt="Uploaded image"/> #}
<div class=sections>
	<div id="post-content">
		  <pre>
		  	{{ uploaded_photo }}
		  </pre>
	</div>
	<div id="pre-content">
			<pre>
				{{ recognized_text }}
			</pre>
	</div>
</div>
{% endblock %}
